<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body {
            background-color: rgb(133, 128, 143);
        }
        table, th, td {
          border:0.5px solid black;
        }
        </style>
    <style type="text/css">
        body {
            background-color: rgb(133, 128, 143);
        }
        table, th, td {
          border:0.5px solid black;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>2nd question</h1>
    <center>
        <h2>
            Before

            <h4>
                <center>
                    <table style="width:100%">
                        <tr>
                            <th>net</th>
                            <th>gap</th>
                            <th>ID</th>
                        </tr>
                        {% for i in b %}
                        <tr>
                            
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td>{{i[2]}}</td>
                        </tr>
                        {% endfor %}
                
                    </table>
               </center>
        
            </h4>
                
        </h2>
        
            
        
        <h2>
            After
            <h4>
                <center>
                    <table style="width:100%">
                        <tr>
                            <th>net</th>
                            <th>gap</th>
                            <th>ID</th>
                        </tr>
                        {% for i in a %}
                        <tr>
                            
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td>{{i[2]}}</td>

                        </tr>
                        {% endfor %}
                
                    </table>
               </center>
            </h4>
        </h2>
    

    </center>

</body>
</html>