<!DOCTYPE html>
<html>
<head>
    <h1>Harideep Thalla</h1>
    <h2>ID:1001947439</h2>
	<title>City Search</title>
</head>
<body>
	<h1>City Search</h1>
	<form method="POST" action="/search">
		<label for="rank_min">Minimum Rank:</label>
		<input type="text" name="rank_min" id="rank_min" required>
		<label for="rank_max">Maximum Rank:</label>
		<input type="text" name="rank_max" id="rank_max" required>
		<label for="state">State:</label>
		<input type="text" name="state" id="state" required>
		<input type="submit" value="Search">
	</form>
</body>
</html>
