<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body{
            background-color:rgb(96, 137, 175);
        }
    
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>2nd question</h1>
<br>
<br>
<center>
    <h2>NO OF MATCHES FOR THE NET VALUE BETWEEN GIVEN GAP RANGE ARE :

        {{m[0][0]}}
    </h2>
</center>
    
    
</body>
</html>