<!DOCTYPE html>
<html>
<head>
    <h1>Sooraj Raman Chadalawada</h1>
    <h2>ID:1001980883</h2>
	<title>Search</title>
</head>
<body>
	<h1>City Search - Results</h1>
	<p>Time taken: {{ time_taken }} seconds</p>
	<table>
		<thead>
			<tr>
				<th>City</th>
				<th>State</th>
				<th>Rank</th>
				<th>Population</th>
			</tr>
		</thead>
		<tbody>
			{% for result in results %}
			<tr>
				<td>{{ result[0] }}</td>
				<td>{{ result[1] }}</td>
				<td>{{ result[2] }}</td>
				<td>{{ result[3] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
